<div class="main">

  <div id="card">
    <div id="credit_cards">
      <i class="fa fa-cc-visa fa-fw fa-2x"></i>
      <i class="fa fa-cc-mastercard fa-fw fa-2x"></i>
      <i class="fa fa-globe fa-fw fa-2x"></i>
    </div>
    <form>
      <div id="card-number-field">
        <input type="text" placeholder="Номер карты" class="form-control" id="cardNumber">
      </div>
      <div id="expiration-date">
        <input type="text" placeholder="MM/ГГ" class="form-control" id="date">
      </div>
      <div id="cvv">
        <input type="text" placeholder="CVV" class="form-control" id="cvv">
      </div>
    </form>
  </div>
  <div id="payment">
    <form>
      <div>
        <label for="payment_summ">Сумма</label>
        <input type="text" id="payment_summ"  class="form-control" placeholder="от 1 000 до 75 000 Р">
      </div>
      <div>
        <label for="payment_comment">Комментарий</label>
        <input type="text" id="payment_comment"  class="form-control" placeholder="до 150 символов">
      </div>
      <div>
        <label for="payment_mail">Ваша эл.почта</label>
        <input type="mail" id="payment_mail"  class="form-control" placeholder="для квитанций об оплате">
      </div>
    </form>
    <div class="aqua-button">
      <span class="aqua-button__bg"></span>
      <a href="" rel="nofollow" class="aqua-button__title">
        Заплатить
      </a>
    </div>
  </div>
</div>
